body{
font-family: Arial;
margin:0;
background:#f7f2e6;
}

/* HEADER */

header{
background:linear-gradient(to right,#8b5e3c,#caa75d);
color:white;
text-align:center;
padding:20px;
}

/* LOGO AREA */

.logo-area{
display:flex;
align-items:center;
justify-content:center;
gap:15px;
flex-wrap:wrap;
}

.logo{
width:80px;
border-radius:8px;
}

/* HERO */

.hero{
text-align:center;
padding:40px;
}

.hero img{
width:80%;
max-width:500px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

/* BUTTON */

button{
background:#1b5e20;
color:white;
border:none;
padding:12px 25px;
margin-top:10px;
cursor:pointer;
border-radius:6px;
font-size:16px;
}

button:hover{
background:#2e7d32;
}

/* PRODUCTS */

.products{
padding:40px;
text-align:center;
}

.products h2{
color:#8b5e3c;
}

.product{
display:inline-block;
width:250px;
margin:20px;
background:white;
padding:15px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
transition:0.3s;
}

.product:hover{
transform:scale(1.05);
}

.product img{
width:100%;
border-radius:8px;
}

/* DELIVERY */

.delivery{
background:#e6d7b9;
padding:40px;
text-align:center;
}

/* CONTACT */

.contact{
padding:40px;
text-align:center;
}

/* FOOTER */

footer{
background:#8b5e3c;
color:white;
text-align:center;
padding:20px;
}
