/* GALLERY */

.gallery{
padding:50px;
text-align:center;
}

.gallery-grid{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.gallery-grid img{
width:250px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

/* REVIEWS */

.reviews{
background:#f4eee0;
padding:40px;
text-align:center;
}

.review-box{
background:white;
display:inline-block;
padding:20px;
margin:10px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
max-width:300px;
}

/* MAP */

.map iframe{
width:90%;
height:300px;
border:0;
margin-top:20px;
border-radius:10px;
}
