body{

font-family: Arial;

margin:0;

background:#f8f8f8;

}

header{

background:#1b5e20;

color:white;

text-align:center;

padding:30px;

}

.hero{

text-align:center;

padding:40px;

}

.hero img{

width:80%;

max-width:500px;

border-radius:10px;

}

button{

background:#1b5e20;

color:white;

border:none;

padding:12px 25px;

margin-top:10px;

cursor:pointer;

border-radius:6px;

}

.products{

padding:40px;

text-align:center;

}

.product{

display:inline-block;

width:250px;

margin:20px;

background:white;

padding:15px;

border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,0.1);

}

.product img{

width:100%;

border-radius:8px;

}

.delivery{

background:#e8f5e9;

padding:40px;

text-align:center;

}

.contact{

padding:40px;

text-align:center;

}

footer{

background:#1b5e20;

color:white;

text-align:center;

padding:20px;

}
